<div class="cards">
    <mat-card>
        <mat-card-content><img class="ima1" src="https://m.media-amazon.com/images/M/MV5BZTM2NDI0N2UtOTA1OS00ZWUyLTljNjEtMzM4MWEyZDYyM2VkXkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_FMjpg_UX1000_.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima2" src="https://m.media-amazon.com/images/M/MV5BYmI4MmExNGQtNmM0Zi00MzRiLWFiZjgtZmU2MDA3MDNlN2MwXkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima3" src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/oh-my-darling-et00352355-1676023854.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima4" src="https://m.media-amazon.com/images/M/MV5BYzMyYmMwY2YtNGE3ZC00MjA5LWJiMjMtNmI3YmU4YWQ2OWUzXkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_FMjpg_UX1000_.jpg" alt=""></mat-card-content>
      </mat-card>
</div>
<div class="cards1">
    <mat-card>
        <mat-card-content><img class="ima5" src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/santhosham-et00352540-1676287958.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima6" src="https://m.media-amazon.com/images/M/MV5BY2Q2YzgxZTItNWIyNC00N2Y4LTg5MzgtYTA2NmMyZGJhNjU4XkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima7" src="https://m.media-amazon.com/images/M/MV5BYTEyOTJkZjgtNmM0Yi00M2RhLTk0ZjEtMTE1N2JmY2UyYTI0XkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_FMjpg_UX1000_.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima8" src="https://m.media-amazon.com/images/M/MV5BMzY1Yjc0YmMtNDIwMS00ZDczLTlmMWMtN2NkY2E5ZTNjMWQ0XkEyXkFqcGdeQXVyMTE4OTYyNjkx._V1_.jpg" alt=""></mat-card-content>
      </mat-card>
</div>
