<div class="cards">
    <mat-card>
        <mat-card-content><img class="ima1" src="https://m.media-amazon.com/images/M/MV5BYzVlMTAyYjQtNTViOC00NTI2LTg1OGEtMmQzMjNiYmJhMThhXkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima2" src="https://images.fandango.com/ImageRenderer/820/0/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/230851/alone2023-posterart.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima3" src="https://m.media-amazon.com/images/M/MV5BNDIzYjNmNTEtYWU5ZC00MmE4LTk1NzktNWYzOWMwMmE2N2Q1XkEyXkFqcGdeQXVyMTIyNzY0NTMx._V1_.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima4" src="https://m.media-amazon.com/images/M/MV5BZTFmOWYxMTQtOTk4My00Mzc5LWFhZmYtYzU3OTM4YjBjOGE4XkEyXkFqcGdeQXVyMTMzNzIyNDc1._V1_.jpg" alt=""></mat-card-content>
      </mat-card>
</div>
<div class="cards1">
    <mat-card>
        <mat-card-content><img class="ima5" src="https://m.media-amazon.com/images/M/MV5BMGRlNDE0NmEtZmNlMy00ZmEzLTg0MzMtM2IxM2IzYjYzYmRjXkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima6" src="https://timesofindia.indiatimes.com/photo/96107412.cms" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima7" src="https://m.media-amazon.com/images/M/MV5BZjQ5ZDNlZWMtZTA2Mi00MDRjLWE1NTItYWI0ZjQzNjkwYTUyXkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_FMjpg_UX1000_.jpg" alt=""></mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><img class="ima8" src="https://upload.wikimedia.org/wikipedia/en/c/cf/Nanpakal_Nerathu_Mayakkam_Title.jpeg" alt=""></mat-card-content>
      </mat-card>
</div>