<div class="title"><h1>Films<i class="fa-sharp fa-solid fa-video fa-beat"></i>released in 2023</h1></div>
<div class="months">
    <ul>
        
        <i id="home" class="fa-sharp fa-solid fa-house fa-bounce"><a routerLink="dashboard">Home</a></i><br>
        <br>
        <button><li><a routerLink="jan"><b>JAN</b></a></li></button><br><br>
        <button><li><a routerLink="feb"><B>FEB</B></a></li></button><br><br>

        
        <button><li><a  routerLink="mar"><B>MAR</B></a></li></button><br><br>
        <button><li><a routerLink="apr"><B>APR</B></a></li></button><br><br>
    </ul>

</div>
